# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

BASE_URL="http://localhost:8080" # Base URL for the API

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="60000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="100" # Max number of requests per window per IP

# Database
DB_USER=botmaster
PGPASSWORD=botmaster
DB_HOST=localhost
DB_PORT=5432
DB_NAME=botmaster
DB_MAX_CONNECTIONS=10
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=5000
KEYCLOAK_BASE_URL=""
